{% extends 'base.html' %}
{% block content %}

<h1>Log In</h1>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    <div>
        <a href="/accounts/password_reset" style="color:#0d47a1;">Reset Password</a>
    </div>
    <div>
        <a href="/accounts/password_change" style="color: #0d47a1;">Change Password</a>
    </div>

</form>

{% endblock %}