h1 {
    font-family: 'Eagle Lake', cursive;
}

.logo {
    font-family: 'Eagle Lake', cursive;
    font-size: 50px;
    
}

.navbar-fixed {
    background-color: #fdd835;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer {
    padding-top: 0;
    text-align: center;
  }